<div class="container">
  <div class="row">
    <figure class="figure col-3">
      <img
        src="<%= user.avatar %>"
        class="figure-img img-fluid rounded"
        alt="..."
        width="300"
        height="300"
      />
      <figcaption class="figure-caption"><%= user.name %></figcaption>
    </figure>
    <div class="col-9">
      <p><%= user.bio %></p>
    </div>
  </div>
</div>
