<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <img class="navbar-brand" src="/assets/img/Layer.png" alt="" />
  <ul class="navbar-nav mr-auto">
    <li class="nav-item d-flex align-items-center <%= currentPage === 'home' ? 'active' : '' %>">
      <a class="nav-link" href="/">
        <span class="menu__subtitle">Головна</span>
      </a>
    </li>
    <li class="nav-item d-flex align-items-center <%= currentPage === 'contact' ? 'active' : '' %>">
      <a class="nav-link" href="/contact">
        <span class="menu__subtitle">Зв'язатися зі мною</span>
      </a>
    </li>
    <li class="nav-item d-flex align-items-center <%= currentPage === 'blog' ? 'active' : '' %>">
      <a class="nav-link" href="/blog">
        <span class="menu__subtitle">Блог</span>
      </a>
    </li>
  </ul>
</nav>
